* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: azure;
}

.calendar {
    border: 2px solid black;
    width: 450px;
    height: 500px;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.7);
}

.month {
    background-color: white;
    color: black;
    font-size: 20px;
    border: 4px solid black;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.week {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.week div {
    font-size: large;
    font-weight: bold;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    height: 300px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
}

.days div {
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days div:hover:not(.empty-day) {
    border: 1px solid white;
}

.days .today {
    background-color: white;
    color: black;
    border-radius: 2px;
}