* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.container {
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container div {
    border: 1px solid white;
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coords  {
    position: relative;
}

.coords h4 {
    position: absolute;
    top: -30px;
    font-weight: 400;
}

.coords p {
    font-size: xx-large;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .coords {
        margin-top: 30px;
    }
} 