* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}


.clock {
    width: 350px;
    height: 350px;
    background-color: gray;
    border-radius: 50%;
    border: 5px solid darkgray;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    position: relative;
    z-index: 1;
}

img {
    width: 65px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 50px;
    z-index: 2;
}

.numbers {
    font-size: xx-large;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}

.numbers div {
    position: absolute;
}

.twelve {
    left: 50%;
    transform: translate(-50%);
    top: 10px;
}

.three {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.six {
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

.nine {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.hands {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hands::before {
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: darkgray;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    z-index: 4;
}

.hands div {
    height: 120px;
    width: 7px;
    position: absolute;
    background-color: black;
    transform-origin: bottom center; 
    bottom: 50%;
    transform: translateY(-50%);
    transform: rotate(90deg);
    z-index: 3;
    border-radius: 50% 50% 0 0;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.hands .hour {
    height: 70px;
    transform: rotate(10deg);
}

.hands .second {
    width: 3px;
    transform: rotate(180deg);
}