* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(129, 125, 125);
    font-family: 'Courier New', Courier, monospace;
}

.btn {
    background-color: black;
    padding: 20px 40px;
    border-radius: 5px;
    color: white;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
    position: relative;
    overflow: hidden;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: white;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
    width: 300px;
    height: 300px;
}

.btn:hover {
    color: black;
}